.widehanded{
	width: 300px;
	height: 508px;
	position: absolute;
	bottom: 0;
	left: 0;
	// overflow: hidden;
	padding: 5px;

	@keywidth: 62px;
	@keyheight: 89px;

	.key, .bigkey{
		border-radius: 5px;
		width: @keywidth;
		position: relative;
		display: table;
		background-color: white;
		color: @color-focus;

		span{
			width: 100%;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			font-size: 20px;
		}
	}

	.row{
		width: 100%;
		position: relative;
		overflow: hidden;
		float: left;
		margin: 0;
	}

	.key{
		height: @keyheight;
		float: left;
		margin: 5px;

		&:last-of-type{
			margin: 5px 0 0 5px !important;
		}
	}

	.bigkey{
		height: (@keyheight * 2) + 10;
		float: right;
		margin: 5px 5px 0 5px;
	}

	.kp_5:before{
		content: '';
		position: absolute;
		height: ~'calc(100% - 4px)';
		width: ~'calc(100% - 4px)';
		top: 2px;
		left: 2px;
		border: 1px @color-focus solid;
		border-radius: 5px;
	}
}