<html ng-app="sungazer">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	    <title>SUNGAZER DAEMON</title>

	    <link rel="shortcut icon" href="assets/img/favicon.ico" />
	    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png" />

	    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1" />
	    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	</head>

	<body id="ng-app">

		<img class="logo" src="assets/img/bg.png">
		
		<div id="switches">
			<div class="tab_opener"></div>
			<div class="music_player"></div>
			<div class="muting"></div>
		</div>

		<div id="music" ng-controller="musicCtrl">
			

			<div id="player"></div>
			

			<div id="playlist">
				<input type="text" id="playlist_input" ng-keyup="inputKeyup($event)" ng-model="singleton.input" />
				<div class="list">
					<div 
						class="playlist_item" 
						ng-repeat="item in music.youtube.singletons track by $index">
						<span>{{item.cover}}</span>
						<span>{{item.title}}</span>
						<span>{{item.url}}</span>
					</div>
				</div>
			</div>
		</div>

		<script src="assets/js/vendor/jquery-1.10.2.min.js"></script>
		<script src="assets/js/vendor/jquery-ui.min.js"></script>

		<script src="assets/js/vendor/angular_1.2.16/angular.min.js"></script>
		<script src="assets/js/vendor/angular_1.2.16/angular-sanitize.min.js"></script>

		<script src="assets/js/vendor/hotkeys.min.js"></script>
		<script src="assets/js/vendor/sortable.js"></script>
		<script src="assets/js/vendor/firebase.js"></script>
		<script src="assets/js/vendor/angularfire.min.js"></script>

		<script src="https://apis.google.com/js/client.js?onload=init"></script>

		<script type="text/javascript" src="assets/js/main.js"></script>

	</body>

</html>
